{% extends 'base/base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'problems/css/problems.css' %}" type="text/css">
{% endblock custom_css %}

{% block scripts %}
    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    {% csrf_token %}
    <script>
        const CSRF_TOKEN = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'problems/js/compile_paper.js' %}"></script>
{% endblock scripts %}

{% block title %}
    <title>Compile paper</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center" id="mainDiv">

        </div>
    </div>
{% endblock content %}
