{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% if page_obj %}
                {% for problem in page_obj %}
                    <div class="card">
                        <div class="card-body">
                            [<a href="{% url 'problem' problem.id %}" class="card-link">{{ problem.id }}</a>]
                            <button class="btn" onclick="copyTextToClipboard()">Copy</button>
                            <script>
                                function copyTextToClipboard() {
                                    const elem = document.createElement('textarea');
                                    elem.value = `{{ problem.text }}`;
                                    document.body.appendChild(elem);
                                    elem.select();
                                    document.execCommand('copy');
                                    document.body.removeChild(elem);
                                }
                            </script>
                            <p class="card-text" id="problem{{ problem.id }}">
                                {% if problem.name %}
                                    <b>{{ problem.name }}.</b>
                                {% endif %}
                                {{ problem.text }}
                            </p>
                            {% if problem.solution %}
                                <button class="btn btn-light" type="button" data-toggle="collapse"
                                        data-target="#solutionFor{{ problem.id }}" aria-expanded="false"
                                        aria-controls="solutionFor{{ problem.id }}">
                                    Solution
                                </button>
                                <div class="collapse" id="solutionFor{{ problem.id }}">
                                    {{ problem.solution }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% include 'components/navigation.html' with label=1 %}
            {% else %}
                <p>No problems are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
