{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <h4>Problem</h4>
        {% if problem.attributes.all %}
            <ul class="list-group list-group-horizontal">
                {% for attribute in problem.attributes.all %}
                    <li class="list-group-item">{{ attribute.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ problem.text }}
        </p>
        <h5>Solution</h5>
        <p>
            {{ problem.solution }}
        </p>
    </div>
{% endblock %}